.navigation-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-menu li {
    margin: 0 20px;
    cursor: pointer;
}

.navigation-menu li a {
    text-decoration: none;
    color: white;
    font-size: 25px;

}
.active{
    color: red !important;
    font-weight: bold !important;
}

/* .navigation-menu li a::before {
    content: " ";
   
   
    height: 3px;
    bottom: -35px;
    position: relative;
    background-color: white;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;

} */




.mobile-navigation {
    list-style: none;
}

.mobile-navigation li {
    margin-top: 50px;
    text-decoration: none;
    list-style: none;

    font-weight: bolder;
}

.mobile-navigation li a {
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    font-size: 35px;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}